---

---  
   
   
<nav class="nav" aria-label="メインナビゲーション">
  <ul class="nav__list">
    <li><a href="/" class="nav__link is-active">Top</a></li>
    <li><a href="/about" class="nav__link">About</a></li>
    <li><a href="/works" class="nav__link">Works</a></li>
    <!-- <li><a href="/contact" class="nav__link">Contact</a></li> -->
  </ul>
</nav>